*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #e8eeef;
  font-family: 'Open Sans', Arial, sans-serif;
  padding-top: 2em;
}

label {
  color: #4179a1;
  display: block;
  margin-bottom: 0.25em;
  text-align: left;
}

input {
  border: 1px solid #4179a1;
  border-radius: 3px;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 0.3em 0.5em;
  width: 100%;
}

input + label {
  margin-top: 1em;
}


/* Login/register forms */

#form {
  border: 1px solid #e8eeef;
  border-radius: 5px;
  box-shadow: 0 2px 4px #bbb;
  color: #e8eeef;
  margin: 0 auto;
  width: 280px;
}

  input[type='submit'] {
    background-color: #4179a1;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px #a8a8a8;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 2em auto 1em;
    padding: 0.75em 1.5em;
    height: 3em;
    width: 10em;
    text-align: center;
  }

  #form-header {
    background: #4179a1 url('../images/logo_white_name.png') no-repeat center center;
    background-size: auto 45px;
    border-radius: 5px 5px 0 0;
    height: 110px;
  }

  #form-contents {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 1em 2em;
  }

  .errorlist {
    color: #4179a1;
    margin-bottom: 1em;
  }

    .errorlist li {
      font-size: 0.85em;
      list-style: none;
    }
